@import "tailwindcss";


body{
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  .a::-webkit-scrollbar {
    width: 0px;
  }
  
  .item-img{
    position: relative;
    overflow: hidden;
  }
  
  .item-img::after{
    content: "";
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .one-line {
    display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: adds "..." for overflow */
  }
  